.main_logo {
    /*font-size: 3rem;*/
    font-family: 'Kirang Haerang', cursive;
    color: brown;
}

.header_menu {
    font-size: 1.5rem;
    font-family: 'Hi Melody', cursive;
    color: brown;
}

.account_link {
    font-size: 1.3rem;
    font-family: 'Single Day', cursive;
    color: brown;

}

.header_hr{
    margin-top: -1rem;
}



.footer_link {
    font-size: 1.5rem;
    font-family: 'Hi Melody', cursive;
    color: brown;

}
