<footer>

    <div class="footer_css row fixed-bottom text-nowrap">
        <div class="container col-4 d-flex justify-content-center my-3">
            <span class="ms-5">만든이: Fola Flor</span>
        </div>
        <div class="container col-8">
            <div class="d-flex justify-content-center my-3 me-4">
                <a href="https://github.com/dpcalfola" target="_blank" class="mx-3 text-decoration-none">깃허브</a>
                <a href="https://dpcalfola.tistory.com/" target="_blank" class="mx-3 text-decoration-none">블로그</a>
                <a href="https://twitter.com/dpcalFola" target="_blank" class="mx-3 text-decoration-none">트위터</a>
                <a href="mailto:dpcalfola@gmail.com" target="_blank" class="mx-3 text-decoration-none">이메일</a>
            </div>


        </div>

    </div>


</footer>

