<div class="nav_css">
    <nav class="py-1">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a href="#" class="nav_menu_css nav-link px-2">Home</a></li>
                <li class="nav-item"><a href="#" class="nav_menu_css nav-link px-2">Features</a></li>
                <li class="nav-item"><a href="#" class="nav_menu_css nav-link px-2">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav_menu_css nav-link px-2">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav_menu_css nav-link px-2">About</a></li>
            </ul>
            <ul class="nav">
                <li class="nav-item"><a href="#" class="account_link nav-link px-3">Login</a></li>
                <li class="nav-item"><a href="#" class="account_link nav-link px-3">Sign up</a></li>
            </ul>
        </div>
    </nav>
    <header class="pt-3 pb-1 mb-4">
        <div class="container d-flex flex-wrap justify-content-center">
            <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
                <span class="main_logo">Cocktail ☆ How did i make this?</span>
            </a>
            <form class="col-12 col-lg-auto my-auto d-flex">
                <input type="search" class="search_css form-control mx-2" placeholder="" aria-label="Search">
                <button type="submit" class="button_css btn">Search</button>
            </form>
        </div>
    </header>
</div>

