<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="main_logo mt-3 fs-1 text-nowrap">What I Did - widid</div>
        </div>

        <div class="col-8">
            <div class="mt-2 d-flex justify-content-end">
                <a href="#" class="account_link text-decoration-none mx-3">profile</a>
                <a href="#" class="account_link text-decoration-none mx-3">login</a>
                <a href="#" class="account_link text-decoration-none mx-3">logout</a>
                <a href="#" class="account_link text-decoration-none mx-3">sign up</a>
            </div>
            <div class="mt-4 d-flex justify-content-start">
                <a href="#" class="header_menu text-decoration-none mx-3">Mytask</a>
                <a href="#" class="header_menu text-decoration-none mx-3">Mytask</a>
                <a href="#" class="header_menu text-decoration-none mx-3">Mytask</a>

            </div>
        </div>

    </div>
    <div class="header_hr">
        <hr>
    </div>

</div>