<div class="container">
    <nav class="d-flex flex-wrap justify-content-center justify-content-md-between my-1 mb-4">
        <a href="/" class="text-nowrap main_logo d-flex align-items-center col-md-3 mb-2 mb-md-0 text-decoration-none">
            Cocktail ☆ <br>How did i make this?
        </a>

        <ul class="header_menu nav col-auto col-lg-4 ms-md-0 mt-auto justify-content-center">
            <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>

        </ul>
        <div class="nav col-auto col-lg-5 mb-lg-auto justify-content-end">
            <a href="#" class="account_link nav-link link-secondary">profile</a>
            <a href="#" class="account_link nav-link link-secondary">login</a>
            <a href="#" class="account_link nav-link link-secondary">logout</a>
            <a href="#" class="account_link nav-link link-secondary">sign up</a>
        </div>
    </nav>
    <div class="header_hr">
        <hr>
    </div>
</div>


<nav class="container text-nowrap">
    <div class="row">
        <div class="col-4 fs-2 text-nowrap">
            <div>
                <a href="#" class="text-decoration-none main_logo">Cocktail ☆ <br>How did i make this?</a>
            </div>
            <div>
                <a href="#" class="text-decoration-none main_logo"></a>
            </div>
        </div>

        <div class="col-8">
            <div class="mt-2 d-flex col-ms-6 justify-content-end">
                <a href="#" class="account_link text-decoration-none mx-3">profile</a>
                <a href="#" class="account_link text-decoration-none mx-3">login</a>
                <a href="#" class="account_link text-decoration-none mx-3">logout</a>
                <a href="#" class="account_link text-decoration-none mx-3">sign up</a>
            </div>
            <div class="mt-4 d-flex justify-content-start">
                <a href="#" class="header_menu text-decoration-none mx-3">Main menu 1</a>
                <a href="#" class="header_menu text-decoration-none mx-3">Main menu 2</a>
                <a href="#" class="header_menu text-decoration-none mx-3">Main menu 3</a>

            </div>
        </div>

    </div>
    <div class="header_hr">
        <hr>
    </div>

</nav>