<div class="container">
    <header class="d-flex flex-wrap justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="main_logo d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            Cocktail ☆ <br>How did i make this?
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 mt-auto">
            <li><a href="#" class="nav-link px-2 header_menu">Home</a></li>
            <li><a href="#" class="nav-link px-2 header_menu">Search</a></li>
            <li><a href="#" class="nav-link px-2 header_menu">Pricing</a></li>
            <li><a href="#" class="nav-link px-2 header_menu">FAQs</a></li>
            <li><a href="#" class="nav-link px-2 header_menu">About</a></li>
        </ul>

        <div class="nav col-md-3 justify-content-end">
            <a href="#" class="account_link nav-link ">login</a>
            <a href="#" class="account_link nav-link ">sign up</a>
        </div>
    </header>
</div>


<div class="container">
    <nav class="d-flex flex-wrap justify-content-center justify-content-md-between my-1 mb-4">
        <a href="/" class="text-nowrap main_logo d-flex align-items-center col-lg-3 mb-2 mb-md-0 text-decoration-none">
            Cocktail ☆ <br>How did i make this?
        </a>

        <div class="nav col-md-auto col-lg-5 ms-md-0 mt-auto justify-content-center">
            <a href="#" class="nav-link header_menu px-3">Search</a>
            <a href="#" class="nav-link header_menu px-3">Free Talk</a>
            <a href="#" class="nav-link header_menu px-3">Pricing</a>
            <a href="#" class="nav-link header_menu px-3">FAQs</a>

        </div>
        <div class="nav col-auto col-lg-4 mb-lg-auto justify-content-end">
            <a href="#" class="account_link nav-link ">login</a>
            <a href="#" class="account_link nav-link ">sign up</a>
        </div>
    </nav>
    <div class="header_hr">
        <hr>
    </div>
</div>

